* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #F5F7FB;
}

#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: #F5F7FB; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro--content {
  background: url("./assets/intro-blob-lemon.png") right top no-repeat, url("./assets/intro-blob-baby.png") left bottom no-repeat;
  height: 100%;
  width: 100%;
  color: #293264;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.intro--title {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 4em;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

.intro--description {
  font-weight: 400;
  font-size: 1.6em;
  margin-top: 10px;
  width: 50%;
  text-align: justify;
}

.intro--button {
  font-weight: 500;
  font-size: 1.4em;
  min-width: 193px;
  min-height: 52px;
  padding: 24px 112px;
  border: none;
  border-radius: 15px;
  background-color: #4D5B9E;
  color: #F5F7FB;
  margin-top: 26px;
  cursor: pointer;
}

.quiz--content {
  height: 100%;
  width: 90%;
  padding: 40px 75px 0;
  background: url("./assets/quiz-blob-lemon.png") right top no-repeat, url("./assets/quiz-blob-baby.png") left bottom no-repeat;
}

.quiz--bottom {
  margin-top: 5vh;
  padding: 0 22px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.quiz--result {
  font-weight: 700;
  font-size: 1.2em;
  color: #293264;
}

.quiz--button {
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 0.08em;
  color: #F5F7FB;
  background-color: #4D5B9E;
  border-radius: 10px;
  border: none;
  min-width: 120px;
  min-height: 35px;
  padding: 14px 48px;
  cursor: pointer;
}

.question--question {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  color: #293264;
  margin-top: 0;
}

.answers--container {
  display: flex;
  gap: 12px;
}

.question--answer {
  border-radius: 8px;
  border: 1px solid #4D5B9E;
  color: #293264;
  font-weight: 500;
  font-size: 0.8em;
  padding: 6px 10px;
  min-width: 66px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

hr {
  border-color: #DBDEF0;
  margin: 3vh 0 2.8vh;
}

